body {
    margin: 0;
    height: 100vh;
}

.grid-layout {
    display: grid;
    grid-template-columns: 20% auto 5%;
    grid-template-rows: 16% auto 7%;
    height: 100vh;
    grid-template-areas: 
        "header header header"
        "buttons grid edge"
        "footer footer footer";
}

header {
    grid-area: header;
    margin: 0;
    background-color: green;
    display: flex;
    align-items: center;
    padding-left: 3em;
    border-bottom-style: solid;
}

ul {
    grid-area: buttons;
    margin: 0;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    border-right-style: solid;
}

main {
    grid-area: grid;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
}

.edge {
    grid-area: edge;
    margin: 0;
    background-color: lightgray;
    border-left-style: solid;
}

footer {
    grid-area: footer;
    margin: 0;
    background-color: green;
    border-top-style: solid;
}